@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


.notes-container {
  width: 100%;
  margin: 0 auto;
  background-color: #F6F8FB;
  height: 700px; /* Hauteur du containeur de toute la Note */
  border-radius: 3px;
  position: relative;
  padding: 3%;
  position: relative;
}

.ql-container {
  max-width: 100%;
  height: 700px; /* Hauteur de la partie d'écriture */
  border-radius: 3px;
  padding: 0%;
  font-size: 0.9em;
  background-color: white;
  position: relative;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar {
  border-radius: 3px;
  width: 50%; 
  height: 40px; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  bottom: 50px; 
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  z-index: 1; /* Ajoutez cette ligne pour placer .ql-toolbar devant .ql-container */
}


.ql-toolbar button {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: #615EEF; 
}

.ql-toolbar button:hover {
  background-color: #f5f5f5;
  color: #212529; 
}

.tab-item {
  margin-right: 5px;
  cursor: pointer;
}

.tab-item.active {
  font-weight: bold;
  text-decoration: underline;
}

.notes-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

/* Style des onglets de notes */
.notes-tab {
  padding: 5px 10px; /* Réduire le padding pour des onglets plus petits */
  font-size: 0.8em; /* Réduire la taille de police */
  margin-right: 5px; /* Espacement entre les onglets */
  display: inline-block; /* Afficher les onglets en ligne */
  border-radius: 5px; /* Bordures arrondies */
  background-color: #f0f0f0; /* Couleur de fond de l'onglet */
  cursor: pointer; /* Style de curseur pour indiquer la sélection */
}

/* Style lorsque l'onglet est actif */
.notes-tab-active {
  background-color: #e0e0e0; /* Couleur de fond pour l'onglet actif */
}

.notes-tab:hover {
  background-color: #e0e0e0;
}


/* Autres styles que vous pourriez ajouter */

.notes-tab-button {
  background-color: #007bff; /* Couleur de fond pour le bouton "Ajouter Note" */
  color: #fff; /* Couleur du texte pour le bouton "Ajouter Note" */
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
}

.notes-tab-button:hover {
  background-color: #0056b3; /* Couleur de fond au survol du bouton */
}

.tab-item {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #f8f9fa; /* Couleur de fond légère */
  border: 1px solid #dee2e6; /* Bordure */
  border-radius: 5px; /* Bord arrondi */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.tab-item.active {
  background-color: #007bff; /* Couleur active comme dans App.css */
  color: white; /* Texte blanc pour contraste */
}

.tab-item:hover {
  background-color: #0056b3; /* Couleur au survol, plus foncée */
}

.delete-note-btn {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

.delete-note-btn:hover {
  background-color: darkred;
}

/* Ajoutez ce style dans votre fichier Notes.css */
.button-draw {
  padding: 4px 8px;
  margin: 8px;
  background-color: #007BFF; /* Bleu par défaut, changez selon le thème de votre app */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 10;   /* Assurez-vous que cela est supérieur à tout autre z-index dans la note */
  margin-top: -30px;
}

.button-draw:hover {
  background-color: #0056b3; /* Une teinte de bleu plus foncée pour le survol */
}






