
/* TodoList.css */
.todo-container {
  background-color: #F6F8FB;
  padding: 3%;
  border-radius: 3px;
  max-width: 60%;
  margin-left: 25%;
  margin-top: 5%;
  height: 82vh;
  position: relative;
  overflow: auto;
}

.Title_Button_Container{
  display: flex;
  justify-content: space-between;
}

.BackgroundButton2 {
  background-color: white;
  width: 14%;
  height: 40px;
  display: flex;
  justify-content: right; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 2%;
  border-bottom-left-radius: 7px;
  margin-top: -2vh;
  margin-right: -5%;
}
  
.todo-add-button {
  width: 90%;
  height: 39px;
  margin-bottom: 10px; /* Espace entre le champ de saisie et le bouton */
  outline: none;
  cursor: pointer;
  background-color: #2E61F9;
  color: white;
  border: none;
  border-radius: 7px;
}

  
  .todo-list-item input[type="text"] {
    width: 180%; /* Largeur complète */
    padding: 10px; /* Espacement intérieur */
    margin: 5px 0; /* Marge externe */
  }
  
  .todo-add-button:hover {
    background-color: #615EEF;
    color: white;
  }
  
  .todo-list {
    list-style: none;
    padding : 0px;
  }
  
  .todo-list-item {
    display: flex;
    align-items: center; /* Ceci aligne verticalement la checkbox et le texte au centre */
    color: black; /* Couleur du texte */
    font-size: 0.8em;
    position: relative;
    margin-bottom: 3%; /* Espace blanc sous chaque tâche */
    /* Autres styles (bordures, padding, etc.) selon vos besoins */
    height: 40px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 8px 12px 27px -19px rgba(0,0,0,0.1);
    padding: 2%;
  }
  
  .todo-list-item-text {
    flex-grow: 1; /* Permet au texte de prendre l'espace disponible */
    word-break: break-all; /* Casse les mots longs si nécessaire */
    margin-right: 10px; /* Espace entre le texte et l'icône */
    width: 50%;
  }
  

  /* Style pour la checkbox non cochée */
.todo-list-item input[type="checkbox"] {
  width: 20px; /* Taille fixe pour la largeur */
  height: 20px; /* Taille fixe pour la hauteur */
  flex-shrink: 0; /* Empêche la checkbox de rétrécir */
  margin-right: 10px;
  vertical-align: middle;
  border: 2px solid black; /* Bord violet */
  appearance: none; /* Enlève le style par défaut */
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.task-content {
  display: flex;
  align-items: center; /* Assure l'alignement vertical au centre */
  padding: 5px; /* Ajoute un peu d'espace autour du contenu */
}

.task-checkbox {
  margin-right: 10px; /* Espacement entre la checkbox et le texte */
}

.task-text-container {
  flex-grow: 1; /* Permet au conteneur du texte de prendre tout l'espace horizontal restant */
}

.task-text {
  display: block; /* Assure que le texte est traité comme un bloc, permettant le contrôle de la largeur et du retour à la ligne */
  word-break: break-word; /* Permet au texte long de passer à la ligne sans déborder */
}

.todo-container h2 {
  font-size: 1em; /* Taille du texte du titre */
  margin-top: -1%;
}

.todo-menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto; /* Aligner à droite dans un conteneur flex */
}







