
/* TodoList.css */
.todo-container {
  background-color: white;
  padding: 3%;
  border-radius: 5px;
  max-width: 100%;
  margin-left: 25%;
  height: 87vh;
  margin-top: 4vh;
  border: 1px solid #919191 ;
}

.Title_Button_Container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-add-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.2em;
  }

.titre_mission {
  font-size: 1em;
  color: #919191;
}
  
  .todo-list-item input[type="text"] {
    width: 180%; /* Largeur complète */
    padding: 10px; /* Espacement intérieur */
    margin: 5px 0; /* Marge externe */
  }
  
  .todo-list {
    list-style: none;
    padding : 0px;
  }
  
  .todo-list-item {
    display: flex;
    align-items: center; /* Ceci aligne verticalement la checkbox et le texte au centre */
    color: black; /* Couleur du texte */
    font-size: 0.8em;
    position: relative;
    margin-bottom: 3%; /* Espace blanc sous chaque tâche */
    height: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2%;
  }
  
  .todo-list-item-text {
    flex-grow: 1; /* Permet au texte de prendre l'espace disponible */
    word-break: break-all; /* Casse les mots longs si nécessaire */
    margin-right: 10px; /* Espace entre le texte et l'icône */
    width: 50%;
  }
  

  /* Style pour la checkbox non cochée */
.todo-list-item input[type="checkbox"] {
  width: 20px; /* Taille fixe pour la largeur */
  height: 20px; /* Taille fixe pour la hauteur */
  flex-shrink: 0; /* Empêche la checkbox de rétrécir */
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #919191; 
  appearance: none; /* Enlève le style par défaut */
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.task-content {
  display: flex;
  align-items: center; /* Assure l'alignement vertical au centre */
  padding: 5px; /* Ajoute un peu d'espace autour du contenu */
}

.task-checkbox {
  margin-right: 10px; /* Espacement entre la checkbox et le texte */
}

.task-text-container {
  flex-grow: 1; /* Permet au conteneur du texte de prendre tout l'espace horizontal restant */
}

.task-text {
  display: block; /* Assure que le texte est traité comme un bloc, permettant le contrôle de la largeur et du retour à la ligne */
  word-break: break-word; /* Permet au texte long de passer à la ligne sans déborder */
}

.todo-container h2 {
  font-size: 1em; /* Taille du texte du titre */
  margin-top: -1%;
}

.todo-menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto; /* Aligner à droite dans un conteneur flex */
}








