.App {
  background-color: #F4F7FE;
  height: 100vh;
}

.bord1 {
  width: 100%;
  height: 12px;
  background-color: white;
}

.Bloc_parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Menu_gauche {
  width: 15%;
  height: 97vh;
  background-color: white;
}

.Board {
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.6em;
}

.Notes {
  width: 55%;
  height: 97vh;
}

.Todo {
  width: 30%;
  height: 97vh;
}

.Project_Creation {
  text-align: center;
  padding: 10px;
}

.Project_Creation input {
  padding: 5px;
  margin-right: 5px;
}

.Project_Creation button {
  padding: 6px 12px;
  background-color: #4CAF50; /* Couleur verte */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.Project_Creation button:hover {
  background-color: #45a049; /* Couleur un peu plus foncée au survol */
}


.Projects_List {
  padding: 10px;
}

.Project_Container {
  display: flex;
  align-items: center;
}

.Project_Item {
  flex-grow: 1;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Project_Content {
  display: flex;
  align-items: center;
}

.Project_Item:hover {
  background-color: #f1f1f1; /* Changement de couleur au survol */
}

.Project_Name {
  font-size: 1.1em; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  color: #333; /* Couleur de la police */
  margin-right: auto; /* Pousse les autres éléments vers la droite */

}

.Delete_Icon {
  margin-left: 10px;
  cursor: pointer;
}

.Delete_Icon:hover {
  color: darkred;
}

.Task_Counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  margin-left: 10px;
}


