.App {
  background-color: #F5F7F9;
  height: 100vh;
}

body {
  font-family: 'Inter';
}

.Bloc_parent {
display: flex;
justify-content: space-between;
width: 100%;
}

.NotesTodo {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 90%;
  margin-top: 1%;
  height: 96vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 1%;
}

.Menu_gauche {
width: 12%;
padding: 1%;
}

.Texte_Welcome {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  padding: 3%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.BienvenueVersion {
  margin-left: 5%;
}

.logo {
  width: 28px;
  height: 26px;
  margin-left: 5%;
  margin-top: 4%;
}

.TexteDeBienvenue {
  margin-top: 5%;
  font-size: 1em;
}

.Texte_Welcome {
  display: flex;
  justify-content:left
}

.Version {
  font-size: 0.8em;
  color: grey;
}

.Projects_List {
padding-right: 10%;
margin-top: 5%;
width: 95%;
}

.Board {
text-align: center;
font-size: 1.6em;
}

.Notes {
width: 55%;
height: 97vh;
}

.Todo {
width: 30%;
height: 97vh;
}

.TextInput_Button_Project {
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.TitleButtonProject {
display: flex;
justify-content: space-between;
width: 98%;
margin-top: 10%;
}

.BackgroundButton {
background-color: white;
width: 20%;
height: 40px;
display: flex;
justify-content: right; /* Centre horizontalement */
align-items: center; /* Centre verticalement */
padding: 2%;
border-bottom-left-radius: 7px;
}

.ButtonAddProject {
cursor: pointer;
border: none;
background: none;
font-size: 1.2em;
margin-top: 3%;
}

.ButtonAddNote {
width: 80%;
height: 40px;
margin-bottom: 10px; /* Espace entre le champ de saisie et le bouton */
outline: none;
cursor: pointer;
background-color: #8F99FA;
color: white;
border: none;
border-radius: 7px;
}

.ButtonAddProject:hover {
}

.TextInput_Button_Project input {
width: 100%;
padding: 10px;
border: 1px solid #dee2e6;
border-radius: 5px;
margin-bottom: 10px; /* Espace entre le champ de saisie et le bouton */
outline: none;
transition: all 0.2s ease-in-out;
}

.TextInput_Button_Project button:hover {
background-color: #0056b3;
}

.Titre_Projet {
font-size: 1em;
color: #919191;
}

.Project_Container {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.Project_Item {
  flex-grow: 1;
  padding: 10px 15px;
  background-color: #F5F7F9;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8A8F9E;
  font-size: 0.9em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.Project_Item_Selected {
  background-color: white; /* LÃ©gÃ¨re modification de la couleur de fond */
  border: 1px solid #2E61F9; /* Épaisseur, style, couleur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.Project_Name {
  align-self: flex-start;
}

.Delete_Icon {
  color: #ff5b5b; /* Couleur de l'icÃ´ne pour la suppression */
  margin-left: 15px;
  cursor: pointer;
  }
  
  .Delete_Icon:hover {
  color: darkred;
  }


.Project_Content {
display: flex;
align-items: center;
}


.Project_Item:hover {
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


/* Style du bouton pour ajouter des notes */
.add-note-button {
border: none;
cursor: pointer;
padding: 5px 10px; /* Padding similaire aux onglets */
font-size: 1.2em; /* Taille de police similaire aux onglets */
background-color: white;
margin-top: -0.1%;
}


/* Style du conteneur des onglets */
.notes-tabs-container {
display: flex; /* Utiliser flexbox pour l'alignement */
justify-content: flex-start; /* Aligner les Ã©lÃ©ments Ã  gauche */
margin-top: 1.5%;
padding-bottom: 1%;
width: 100%;
}

.notes-tab:hover {
  background-color: red; /* Change la couleur de fond au survol */
}

.App .notes-tabs-container .notes-tab {
  background-color: white;
  border: 1px solid #B0A8A8; /* Augmente la spécificité */
  /* Autres styles */
}

.App .notes-tabs-container .notes-tab:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Augmente la spécificité */
}

/* Couleur spécifique pour l'onglet actif */
.App .notes-tabs-container .notes-tab-active {
  background-color: white; 
  border: 2px solid #2E61F9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notes-tab {
  color: black; /* Couleur de texte foncée pour contraster */
  padding: 10px 15px; /* Espacement intérieur pour un look aéré */
  height: 15px;
  margin-right: 5px; /* Espacement entre les onglets */
  cursor: pointer; /* Indique que l'élément est cliquable */
  transition: background-color 0.1s; /* Transition douce pour le survol */
}

.ProjectInput {
width: 180%; /* Largeur complÃ¨te */
padding: 10px; /* Espacement intÃ©rieur */
margin: 5px 0; /* Marge externe */
}