.App {
  background-color: white;
  height: 100vh;
}

.Bloc_parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Menu_gauche {
  width: 15%;
  height: 97vh;
  background-color: white;
}

.Board {
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.6em;
}

.Notes {
  width: 55%;
  height: 97vh;
}

.Todo {
  width: 30%;
  height: 97vh;
}

.TextInput_Button_Project {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.TextInput_Button_Project input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px; /* Espace entre le champ de saisie et le bouton */
  outline: none;
  transition: all 0.2s ease-in-out;
}

.TextInput_Button_Project input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.TextInput_Button_Project button {
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.TextInput_Button_Project button:hover {
  background-color: #0056b3;
}

.Titre_Projet {
  padding-left: 20px;
  font-weight: bold;
}

.Projects_List {
  padding-left: 20px;
}

.Project_Container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Project_Item {
  flex-grow: 1;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Project_Content {
  display: flex;
  align-items: center;
}

.Project_Item {
  /* styles existants */
  transition: background-color 0.3s ease; /* Animation douce pour le changement de couleur */
}

.Project_Item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.Project_Item_Selected {
  border: 2px solid #007bff; /* Couleur de la bordure pour l'élément sélectionné */
  background-color: #f0f8ff; /* Légère modification de la couleur de fond */
}

.Project_Name {
  font-weight: bold; /* Rendre le nom du projet plus visible */
}

.Delete_Icon {
  color: #ff5b5b; /* Couleur de l'icône pour la suppression */
  margin-left: 15px;
  cursor: pointer;
}

.Delete_Icon:hover {
  color: darkred;
}

/* Style du bouton pour ajouter des notes */
.add-note-button {
  background-color: #EDF0FF;
  color: #615EEF; /* Couleur de texte */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px 10px; /* Padding similaire aux onglets */
  font-size: 0.8em; /* Taille de police similaire aux onglets */
  transition: background-color 0.3s; /* Transition pour l'effet au survol */
}

.add-note-button:hover { /* Changement de couleur au survol */
  background-color: #615EEF;
  color: white; 
}

/* Style du conteneur des onglets */
.notes-tabs-container {
  display: flex; /* Utiliser flexbox pour l'alignement */
  justify-content: flex-start; /* Aligner les éléments à gauche */
  margin-left: 3%;
  margin-top: 2%;
  padding-bottom: 1.5%;
  width: 100%;
}






